
.main_container{
    margin-left: 14rem;
    width: 50rem;
     height: 50rem;
}
 
.header {
    height: 5%;
    background-color: rgb(0, 153, 255);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

 .company_name >a{
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  padding-right: 16rem;
}

.header nav ul{
  font-weight:bolder;
  display: flex;
  list-style: none;
  justify-content: flex-end;
align-items:center;
}
.header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
  }
 .content{
   display: flex;
   justify-content:space-evenly;
   height: 48%;
   background-color:#fff;
   /* align-items: flex-start; */
   margin-top: 0.5rem;
 }

  .content-container
  {
    position: relative;
    top: 7rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: right;
  }
.text{
   font-family:sans-serif;
   font-size: 2rem;
 }

 .content1{
  display: flex;
  justify-content:space-evenly;
  height: 48%;
  background-color:#fff;
  /* align-items: flex-start; */
  margin-top: 0.5rem;
}

 .content-container1
 {
   position: relative;
   top: 7rem;
   margin-left: 10%;
   margin-right: 10%;
   text-align: left;
 }
.text1{
  font-family:sans-serif;
  font-size: 2rem;
}
 
.btn {
  background-color: white;
  border: none;
  color:blue;
  padding: 6px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}